@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto');

p{
  font-family: "Noto Serif";
  font-size: 12px;
}

h2{
  font-family: "Roboto";
  font-size: 20px;
}

h1{
  font-family: "Roboto";
  font-size: 26px;
}

body{
  margin: 25px 9% 25px 9%;
}
